# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# optional assignments
/week_*/assignment_optional/output/*/nbproject/private/
/week_*/assignment_optional/output/*/build/
/week_*/assignment_optional/output/*/dist/

# required assignments
/week_*/assignment_required/output/*/nbproject/private/
/week_*/assignment_required/output/*/build/
/week_*/assignment_required/output/*/dist/

# re-include input folders
!/week_*/assignment_optional/input/*
!/week_*/assignment_required/input/*